
@import'libs/reset'; // сброс стилей
// @import'libs/slick'; // стили сликс-лайдера
@import'base/var';  // постянные данные


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import'blocks/promo'; // первая секция promo
@import'blocks/header'; // меню в блоке promo. Возможно будет использоваться отдельно
@import'blocks/buttons'; // стили для кнопок
@import'blocks/advantages'; // стили секции advantages
@import'blocks/media'; // медиазапросы
