
@import'libs/reset'; // сброс стилей
// @import'libs/slick'; // стили сликс-лайдера
@import'base/var';  // постянные данные


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #0D0D0D;
    text-transform: uppercase;
    line-height: 54px;
    &_left{
        color: #fff;
        text-align: left;
        font-size: 36px;
    }
}
@import'blocks/promo'; // первая секция promo
@import'blocks/header'; // меню в блоке promo. Возможно будет использоваться отдельно
@import'blocks/buttons'; // стили для кнопок
@import'blocks/advantages'; // стили секции advantages
@import'blocks/consultation'; // стили блока consultation
@import'blocks/forms'; // стили блока forms
@import'blocks/carousel'; // стили блока carousel
@import'blocks/catalog'; // стили блока catalog
@import'blocks/review'; // стили блока review
@import'blocks/footer'; // стили блока footer
@import'blocks/media'; // медиазапросы
