.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg_header.png') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 400;
        font-size: 42px;
        line-height: 42px;
        color: $text-color;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color:  $text-color;
    }
    &__icons {
        margin-top: 42px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 106px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: $text-color;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        margin-top: 18px;
        color:$text-color;
        a{
            color:$text-color;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}